<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/app-layout/app-drawer/app-drawer.html">
<link rel="import" href="../bower_components/app-layout/app-drawer-layout/app-drawer-layout.html">
<link rel="import" href="../bower_components/app-layout/app-header/app-header.html">
<link rel="import" href="../bower_components/app-layout/app-header-layout/app-header-layout.html">
<link rel="import" href="../bower_components/app-layout/app-scroll-effects/app-scroll-effects.html">
<link rel="import" href="../bower_components/app-layout/app-toolbar/app-toolbar.html">
<link rel="import" href="../bower_components/app-route/app-location.html">
<link rel="import" href="../bower_components/app-route/app-route.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-if.html">


<link rel="lazy-import" href="my-datos.html">
<link rel="lazy-import" href="my-alta.html">
<link rel="lazy-import" href="my-movi.html">
<link rel="lazy-import" href="my-saldos.html">
<link rel="lazy-import" href="my-movimientos.html">
<link rel="lazy-import" href="inicio-bienvenido.html">
<link rel="lazy-import" href="my-view3.html">
<link rel="lazy-import" href="my-login.html">

<dom-module id="my-app">
  <template>

    <style>
      :host {
        --app-secondary-color: black;


      }

      app-drawer-layout:not([narrow]) [drawer-toggle] {
        display: none;
      }

      app-header {
        color: #fff;
        background-color: var(--app-primary-color);
      }

      app-header paper-icon-button {
        --paper-icon-button-ink-color: white;
      }

      .drawer-list {
        margin: 0 20px;
      }      .drawer-list a {
        display: block;
        padding: 0 16px;
        text-decoration: none;
        color: var(--app-secondary-color);
        line-height: 40px;
      }
      .titulo{
        font: strong normal 30px Verdana, Sans-serif;
        font-weight: bold;
          font-style: oblique;
          text-shadow: 3px 3px 5px black,
              6px 6px 5px #0f0,
              9px 9px 5px #00f;
        font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
      }
      .drawer-list a.iron-selected {
        color: black;
        font-weight: bold;
      }
      .fondo{
        background: url(../images/Fondo.png);
        background-repeat: no-repeat;
         background-size: 2500px;
        width: 100%;
        height: 100%;
        text-align: center;
      }
    </style>

    <app-location
        route="{{route}}"
        url-space-regex="^[[rootPath]]">
    </app-location>

    <app-route
        route="{{route}}"
        pattern="[[rootPath]]:page"
        data="{{routeData}}"
        tail="{{subroute}}">
    </app-route>


    <app-drawer-layout fullbleed narrow="{{narrow}}">

      <app-header-layout has-scrolling-region>

        <app-header slot="header" condenses reveals effects="waterfall">
          <app-toolbar>

            <div main-title><h1 class="titulo">BanSalit</h1>

            </div>
 <div class="row">
 <template is="dom-if" if="{{login}}">
    <template is="dom-if" if="{{mUser}}">
            <button class="btn btn-danger col-lg-4 col-xs-12" type="button" name="button" on-click="saldos">Consulta Saldos</button>
            <button class="btn btn-danger col-lg-4 col-xs-12" type="button" name="button" on-click="consulta">Consulta Movimentos</button>
            <button class="btn btn-danger col-lg-4 col-xs-12" type="button" name="button" on-click="editaDatos">Mis Datos</button>
            <button class="btn btn-danger col-lg-4 col-xs-12" type="button" label="Salir" name="button" on-click="salir">Salir</button>
      </template>
      <template is="dom-if" if="{{mAdmin}}">
          <button class="btn btn-danger col-lg-4 col-xs-12" type="button" name="button"  on-click="alta">Alta Cliente</button>
          <button class="btn btn-danger col-lg-4 col-xs-12" type="button" name="button" on-click="movi">Alta Movimientos</button>
          <button class="btn btn-danger col-lg-4 col-xs-12" type="button" label="Salir" name="button" on-click="salir">Salir</button>
        </template>
      </template>
      <template is="dom-if" if="{{!login}}">
          <button class="btn btn-danger col-lg-4 col-xs-12" type="button" name="button" on-click="logwwin">Login</button>
      </template>
</div>
          </app-toolbar>
        </app-header>

        <iron-pages
            selected="[[page]]"
            attr-for-selected="name"
            fallback-selection="my-login"
            role="main">
          <my-datos name="my-datos"></my-datos>
          <my-alta name="my-alta"></my-alta>
          <my-movi name="my-movi"></my-movi>
          <my-saldos name="my-saldos"></my-saldos>
          <my-movimientos name="my-movimientos"></my-movimientos>
          <inicio-bienvenido name="inicio-bienvenido"></inicio-bienvenido>
          <my-view3 name="my-view3"></my-view3>
          <my-login name="my-login"></my-login>
        </iron-pages>
      </app-header-layout>
    </app-drawer-layout>

</template>
  <script src="js/my-app.js"></script>
</dom-module>
