<!--
@license
Copyright (c) 2016 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-datos">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
      .datos{
        margin-top: -60px;
        margin:7% auto auto auto;
        width: 60em;
        max-width: 90%;
        opacity: 0.9;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        padding:16px;
        left:50%;
         border-radius: 5px;
         background-color: #fff;
         color: #757575;
         text-align: left;
      }
    </style>

    <div class="datos">
      <div class="circle"><strong>D</strong></div>
      <h1><strong>Mis Datos</strong></h1>
      <p><strong>Nombre:</strong> [[data.0.nombre]]  </p>
      <p><strong>RFC:</strong> [[data.0.RFC]]  </p>
      <p><strong>Cliente desde:</strong> [[data.0.fecha_ingreso]]  </p>

    </div>
  </template>

  <script src="js/my-datos.js"></script>
</dom-module>
