<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="/bower_components/app-layout/app-layout.html">

<dom-module id="my-login">
    <template>
      <div  class="fondo">
      <style>
        :host {
          display: block;
        }
        table {
          border-width: medium;
          border-color: rgb(33, 33, 87);
        }
        .campos{
          text-align: center;
        }
        .login_s{
          margin-top: -80px;
          margin:7% auto auto auto;
          width: 28em;
          max-width: 60%;
          opacity: 0.85;
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
          left:50%;
          padding:16px;
          border-radius: 9px;
          background-color: #fff;
          color: #757575;
          text-align: center;
        }
        .cabezalogin{
          margin-top: 0%;
          margin:-35px -16px -14px -16px;
          opacity: 0.89;
          padding: -1px;
          border-radius: 9px;
          background-color:black;
          color: white;
          text-align: center;
        }
         .centra{
           width: 100%;
           align: center;
           }
         .entradas{
           width: 20%;
           align: center;
           }

      </style>

        <div class="login_s">
          <div class="cabezalogin">
          <H2>Login</H2>
          </div>
          <div class="row">
              <iron-form  id="form2">
                <form >
                <div class="centra">
                  <p>
                    <strong>Usuario:</strong> <br />
                    <input class="entradas" type="text" id= "usuario" value=""
                    name="usuario" placeholder="12345678" maxlength="8" label="Usuario" required="required"
                    auto-validate pattern="[A-Za-z0-9]+" />
                     <br />
                  </p>
                  <p>
                    <strong>Contraseña:</strong> <br />
                     <input type="Password" class="entradas" id= "password"  name="password" label="Pass"
                    placeholder="*********"required="required"
                    value=""/> <br />
                  </p>
                  <input class="btn btn-danger col-lg-4 col-xs-12" type="button" name="button" on-click="login2"
                  value ="Ingresar"/>
                </div>

              </form>
            </iron-form>
          </div>
        </div>
      </div>
    </template>
    <script src="js/my-login.js"></script>
</dom-module>
